@model BookStore.Models.Category

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="display-book">
    @foreach (var book in Model.Books)
    {
        <li>
            <a href="@Url.Action("Details",
                         new { id = book.BookId })">
                <img src='/Images/@book.ImagePath' width="150" height="200"/><br />
                <span>@book.Author</span><br/>
                <span>@book.Name </span>
            </a>

        </li>
    }
</ul>
