@model System.Collections.Generic.List<BookStore.Models.Category>

@{
    ViewBag.Title = "CategoryMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box info category">
    <div class="box-heading">Categorii<i class="fa fa-plus-circle"></i></div>
    <div class="box-content">
        <div class="box-category">
            <ul>
                @foreach (var category in Model)
                {

                    <li>
                        @Html.ActionLink(category.Nume, "Browse", "Books", new { Category = category.Nume }, null)
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<ul id="categories"></ul>
