@model IEnumerable<BookStore.Models.Book>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="display-book">  
    @foreach (var book in Model)
    {      
        <li>
            <a href="@Url.Action("Details",
                         new {id = book.BookId})">
                <img src='/Images/@book.ImagePath' width="200" height="290"/><br/>
                <span>@book.Name</span>
            </a>
        </li>

    }
</ul>
